<div class="container">
  <h2 class="mt-4">Create your article</h2>
  <div class="input-group mt-3">
    <input type="text" class="form-control ml-2 w-25" placeholder="Add title">
    <input type="text" class="form-control ml-1 w-25" placeholder="Add content">
    <div>
      <button class="btn btn-primary ml-1" type="button">Create</button>
    </div>
  </div>
</div>
